/*
 * NYTimes elements
 */
.sb-wordlist-window {
	height: fit-content !important;
}

.sb-controls-box {
	padding-top: 80px;
	align-items: flex-start;
}


/*
 * MSP elements
 */
.methodical__finished {
	color: green;
}

#methodical-spelling-bee h3 {
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 1em;
}

#methodical-spelling-bee {
	display: grid;
	grid-template-areas:
		"stats           stats"
		"two-letter-list grid"
	;
	grid-row-gap: 30px;
	grid-column-gap: 40px;

	margin: 12px 12px 40px 12px;
	padding: 25px;
	border: 1px solid #dcdcdc;
	border-radius: 6px;
}


/*
 * Stats
 */
#methodical__stats {
	grid-area: stats;
}

#methodical__stats ul {
	display: flex;
	justify-content: flex-start;
}

#methodical__stats li {
	margin-right: 35px;
}

.methodical__stats-key-name {
	text-transform: capitalize;
	margin-left: 5px;
	margin-right: 5px;
}


/*
 * Grid
 */
#methodical__grid {
	grid-area: grid;

	/*
	todo
	how to represent progress?
	= make bg color green when done
	= grey out when done
	= show number remaining instead of total.

	probably use the `.finished` color like the others
	*/
}

#methodical__grid table td {
	/* todo tmp formatting for the stubbed html */
	padding: 3px;
}


/*
 * Two Letter List
 */
#methodical__letter-list-progress {
	grid-area: two-letter-list;
}

#methodical__letter-list-progress input {
	margin-right: 8px;
}

.methodical__pair-key {
	padding-right: 5px;
	text-transform: uppercase;
}
